/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*body{
    background: lightgrey;
}*/

#turnit{
    transform: rotate(180deg)
}

.pictures {
 /* background: lightgrey;*/
  margin-top: 50px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}



.content {
  /*background: lightgrey;*/
  margin-top: 5px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 10% 45% 10% 25% 10%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

 #card {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 5% 5% 85% 5%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
} 

#post-body {
  /* margin-top: 2em;
  padding-bottom: 2em; */
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  text-decoration: none;
} 

.card a{
  text-decoration: none;
}

#post-title{
  font-weight: bold;
  text-decoration: none;
}

.my-card-body{
  padding:0.5em;
}


.voters {
  padding-top: 2em;
}

.number{
     margin-top: 1em;
    padding-left: 9px;
}

.fas{
  border:none;
}

#comment{
  align-self: end;
}

.card a{
  text-decoration: none !important;
  background: none;
}


